.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
}
th{
    height: 50px;
    margin: 20px;
    padding: 20px;
}
.row{
    height: 50px;
    margin: 20px;
    padding: 20px;
}
.cell{
    height: 50px;
    margin: 20px;
    padding: 20px;
}